/* css styles */
h1.title {
    color:#206095;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #206095;
}
a {
    color: #206095;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

iframe { margin: 0 auto; display: block; }

