/* css styles */
h1.title {
    color:#206095;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #206095;
}

.plain-link,
.plain-link:hover,
.plain-link:focus,
.plain-link:active,
.plain-link:visited {
    color: inherit !important;
    text-decoration: none !important;
}

